<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>车辆库存导入</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{{ STATIC_URL }}assets/js/jquery-2.0.3.min.js"></script>
        <script src="{{ STATIC_URL }}layer/layer.js"></script>
        <script src="{{ STATIC_URL }}wzjs/xlsx.full.min.js"></script>
        <script src="{{ STATIC_URL }}wzjs/tool.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/bootstrap.min.css" />

	</head>

	<body>

        <h2 class="text-left">车辆库存导入</h2>

        <div class="col-sm-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <label>第一步：点击超链接，下载导入模板</label>
                    <a href="/wzjt/vehicle_down/">下载模板</a>
                </li>
                <li class="list-group-item">
                    <label>第二步：编辑导入模板</label>
                </li>
                <li class="list-group-item">
                    <label>第三步：选择编辑后的导入模板，并点击导入按钮，查看导入结果</label>
                    <p><input id="import_file" type="file" onchange="file_change(this)" class="col-sm-5"></p>
                    <p><input id="import_button" type="button" onclick="importValue()" style="display: none" value="导入"></p>
                    <div>
                        <div id="file_value"></div>
                        <div>
                            <table id="error_list" class="table table-hover"></table>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <script>
            var file;
            function file_change(obj){
                file = obj;
                if(checkExcel(obj).status){
                    $("#import_button").show();
                }else {
                    $("#import_button").hide();
                }
            }

            function importValue() {
                importExcel(file,'/wzjt/vehicle_import/');
            }
        </script>
    </body>

</html>
